body {
  margin:auto;
  padding: 0;
  background-color:white;
background-size:cover; /* Empêche la répétition de l'image de fond. */
background-position: center;
display:block
    }

/* Navigation */

.navigation {

  margin:15x;
  box-sizing: border-box;
  background-color:#d1224e	;	
  background-size: cover; /* pour ajuster l'image à la taille de l'écran */
  overflow: auto;
  padding: 8px 20px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);

            }
ul {
  padding: 0;
  margin: 0;

    }

li  {
  color: #000011;
  display: inline-block;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 300px;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
  position: relative;
  left:65px;
  top:5px;
    }

        input{
  background-color: #FFF;
  border: 1px solid #d1224e;
  border-radius: 3px;
  color:#d1224e ;
  padding: 10px;
  margin: 10px auto 0px auto;
  width: 100%;
  position: relative;
  top:-20px;
  left: 250px;
  border-radius: 30px;
  border: 2px double white;
                }

  button {
    display: inline-block;
    background-color:#F08080		;
    border-radius: 30px;
    border: 2px double white;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100px;
	padding:10px;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
	position: relative;
    top:-20px;
	left: 100px;
				}
.Dessert{
background-image:url("./first.png" );
background-size:cover;
width:100%;
padding: 120px;
box-sizing: border-box;
border: 1px double #d1224e;


}
.recipes{
display:inline-block;
margin:auto;
  width:100%;
text-align:center;
 background-size:cover;
  
  
}
.Platprincipale{
background-image:url("./second.png");
background-size:cover;
width:100%;
padding: 120px ;
margin:auto;
box-sizing: border-box;
border: 1px double #d1224e;


}
h1{
text-align:leftwards;
font-family: "Times New Roman", Times, serif;
font-size:50px;
color:#d1224e;
}
.salade{
background-image:url("./salade.png");
background-size:cover;
width:100%;
margin:auto;
padding: 120px ;
box-sizing: border-box;
box-sizing: border-box;
border: 1px double #d1224e;



}
.drinks{
background-image:url("./drinks.png");
background-size:cover;
width:100%;
margin:auto;
padding: 120px ;
box-sizing: border-box;
box-sizing: border-box;
border: 1px double #d1224e;
}
h2{
text-align:center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size:30px;
color:#d1224e;
}
h3{
text-align:center;
font-family: "Times New Roman", Times, serif;
font-size:20px;
color:#d1224e;
}
mark{
background:#F08080;
color:white;
font-size:60px;
border-radius: 10px;
  border: 10px double #F08080;
background-size:80px

}
footer{
margin:auto;
  box-sizing: border-box;
  background-color:#d1224e	;	
  background-size: cover; /* pour ajuster l'image à la taille de l'écran */
  overflow: 15px;
  padding:20px;
  position: relative;
  width: 100%;
  z-index: 999;
}
.contacte{
  display: inline-block;
  text-align:leftwards;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 300px;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
  position:left;
}
a {
  text-decoration: none; /* Pour s'assurer que le lien est souligné */
  text-decoration-color: white; /* Couleur de soulignement que vous souhaitez */
}


