body {
    margin:0;
    padding: 0;
    background-color:#F5DEB3;
      }
  
  /* Navigation */
  
  .navigation {
  
    margin:15;
    box-sizing: border-box;
    background-color: #863808;	
    background-size: cover; /* pour ajuster l'image à la taille de l'écran */
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
              }
      .interface
              {
      background-color: white;
      background-size: cover;
      width:100%;
              }
  ul {
    padding: 0;
    margin: 0;
      }
  
  li  {
    color: #FFF;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
      }
  
  .active {
    color: #88CCF1;
  }
  
  /* Table */
  
      table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
          }
  
      thead th {
    background: #28CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
              }
  
          tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
              }
  
      th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
          }
  
          .search {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    color: #AAA;
    padding: 20px;
    margin: 50px auto 0px auto;
    width: 77%;
                  }
      button {
      display: inline-block;
      background-color:#F5DEB3;
      border-radius: 30px;
      border: 0px double white;
      color: white;
      text-align: center;
      font-size: 20px;
      padding: 15px;
      width: 200px;
     -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
       font-family: 'Lato', sans-serif;
              }
